@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@source inline(
  "h1",
  "h2",
  "h3",
  "body-l",
  "body-m",
  "caption",
  "btn-primary",
  "btn-secondary",
  "tiles",
  "square-icons",
  "program-group"
);

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --spacing-18: calc(var(--spacing) * 18);
  --color-blue: #75c9ea;
  --blue: var(--color-blue);
  --color-blue-dark: #131c2d;
  --color-footer: #0c1b2b;
  --color-blue-light: #77cddd;
  --color-blue-accent: #0ba1dd;
  --color-orange: #f60;
  --color-orange-light: #ff8b3d;
  --color-white: #fff;
  --color-ink: #000;
  --color-form-muted: rgb(0 12 20 / 0.5);
  --color-placeholder: rgb(255 255 255 / 0.3);

  --tracking-m01: -0.01em;
  --tracking-p01: 0.009em;
  --tracking-m005: -0.005em;
  --tracking-p005: 0.005em;

  --text-body-l: 18px;
  --text-body-l--line-height: 156%;
  --text-body-m: 16px;
  --text-body-m--line-height: 150%;
  --text-caption: 14px;
  --text-caption--line-height: 143%;
  --text-h3: 24px;
  --text-h3--line-height: 133%;
  --text-h2: 40px;
  --text-h2--line-height: 120%;
  --text-h1: 56px;
  --text-h1--line-height: 114%;

  --font-weight-h2: 600;
  --font-weight-h3: 500;
  --font-weight-h1: 700;
}

@utility h1 {
  font-size: var(--text-h1);
  line-height: var(--text-h1--line-height);
  letter-spacing: var(--tracking-m01);
  font-weight: var(--font-weight-h1);
}

@utility h2 {
  font-size: var(--text-h2);
  line-height: var(--text-h2--line-height);
  letter-spacing: var(--tracking-m005);
  font-weight: var(--font-weight-h2);
}

@utility h3 {
  font-size: var(--text-h3);
  line-height: var(--text-h3--line-height);
  font-weight: var(--font-weight-h3);
  letter-spacing: var(--tracking-p01);
  
}

@utility body-l {
  font-size: var(--text-body-l);
  line-height: var(--text-body-l--line-height);
  font-weight: 400;
}

@utility body-m {
  font-size: var(--text-body-m);
  line-height: var(--text-body-m--line-height);
  font-weight: 400;
}

@utility caption {
  font-size: var(--text-caption);
  line-height: var(--text-caption--line-height);
  font-weight: 400;
}

@utility btn-primary {
  @apply body-l;
  border-radius: 8px;
  padding: 12px 24px;
  height: 52px;
  background: linear-gradient(
    90deg,
    rgba(119, 205, 221, 0.8) 0%,
    rgba(11, 161, 221, 0.8) 100%
  );
  transition: box-shadow 0.2s ease;
  letter-spacing: 0;

  &:hover {
    box-shadow: 0 0 16px 0 rgba(117, 201, 234, 0.5);
  }
}

@utility btn-secondary {
  @apply body-l;
  border-radius: 8px;
  padding: 12px 24px;
  height: 52px;
  letter-spacing: 0;
  border: 1px solid transparent;
  background-image:
    linear-gradient(
      90deg,
      rgba(0, 109, 239, 0.1) 0%,
      rgba(114, 199, 252, 0.1) 100%
    ),
    linear-gradient(var(--color-blue-dark), var(--color-blue-dark)),
    linear-gradient(
      90deg,
      color-mix(in srgb, var(--color-blue-light) 80%, transparent) 0%,
      color-mix(in srgb, var(--color-blue-accent) 80%, transparent) 100%
    );
  background-clip: padding-box, padding-box, border-box;
  background-origin: padding-box, padding-box, border-box;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 0 16px 0 rgba(114, 199, 252, 0.5);
  }
}

@utility form-input {
  @apply body-m w-full p-2 caption;
  background-color: var(--color-form-muted);
  border-radius: 8px;
  color: var(--color-placeholder);

  &::placeholder {
    color: var(--color-placeholder);
  }
}

@utility agreement-text {
  @apply caption;
  font-weight: 300;
  color: var(--color-placeholder);
  letter-spacing: var(--tracking-p005);
}

@utility blue-gradient {
  background-image: linear-gradient(
    90deg,
    color-mix(in srgb, var(--color-blue-light) 80%, transparent) 0%,
    color-mix(in srgb, var(--color-blue-accent) 80%, transparent) 100%
  );
  background-size: 100% 1px;
  background-position: left bottom;
  background-repeat: no-repeat;
}

@utility tiles {
  border-radius: 8px;
  padding: 48px;
  border: 1px solid transparent;
  background-image:
    linear-gradient(
      90deg,
      rgba(0, 109, 239, 0.1) 0%,
      rgba(114, 199, 252, 0.1) 100%
    ),
    linear-gradient(var(--color-blue-dark), var(--color-blue-dark)),
    linear-gradient(
      90deg,
      color-mix(in srgb, var(--color-blue-light) 80%, transparent) 0%,
      color-mix(in srgb, var(--color-blue-accent) 80%, transparent) 100%
    );
  background-clip: padding-box, padding-box, border-box;
  background-origin: padding-box, padding-box, border-box;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 0 16px 0 rgba(114, 199, 252, 0.5);
  }
}

@utility lecture-card {
  @apply tiles;
  padding: 24px;
}

@utility square-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 8px;
  width: 64px;
  height: 64px;
  border: 1px solid transparent;
  background-image:
    linear-gradient(
      90deg,
      rgba(0, 109, 239, 0.1) 0%,
      rgba(114, 199, 252, 0.1) 100%
    ),
    linear-gradient(var(--color-blue-dark), var(--color-blue-dark)),
    linear-gradient(
      90deg,
      color-mix(in srgb, var(--color-blue-light) 80%, transparent) 0%,
      color-mix(in srgb, var(--color-blue-accent) 80%, transparent) 100%
    );
  background-clip: padding-box, padding-box, border-box;
  background-origin: padding-box, padding-box, border-box;
}

@utility program-group {
  border: 1px solid var(--blue);
  border-radius: 8px;
  padding: 2px 16px;
}

@utility lecture-time {
  @apply program-group;
  @apply caption;
  line-height: 1.28;
  letter-spacing: -0.03em;
}

/* .counter {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--accent);
  background: var(--accent-bg);
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-bottom: 24px;

  &:hover {
    border-color: var(--accent-border);
  }
  &:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
}

.hero {
  position: relative;

  .base,
  .framework,
  .vite {
    inset-inline: 0;
    margin: 0 auto;
  }

  .base {
    width: 170px;
    position: relative;
    z-index: 0;
  }

  .framework,
  .vite {
    position: absolute;
  }

  .framework {
    z-index: 1;
    top: 34px;
    height: 28px;
    transform: perspective(2000px) rotateZ(300deg) rotateX(44deg) rotateY(39deg)
      scale(1.4);
  }

  .vite {
    z-index: 0;
    top: 107px;
    height: 26px;
    width: auto;
    transform: perspective(2000px) rotateZ(300deg) rotateX(40deg) rotateY(39deg)
      scale(0.8);
  }
}

#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}

#next-steps {
  display: flex;
  border-top: 1px solid var(--border);
  text-align: left;

  & > div {
    flex: 1 1 0;
    padding: 32px;
    @media (max-width: 1024px) {
      padding: 24px 20px;
    }
  }

  .icon {
    margin-bottom: 16px;
    width: 22px;
    height: 22px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
  }
}

#docs {
  border-right: 1px solid var(--border);

  @media (max-width: 1024px) {
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
}

#next-steps ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 32px 0 0;

  .logo {
    height: 18px;
  }

  a {
    color: var(--text-h);
    font-size: 16px;
    border-radius: 6px;
    background: var(--social-bg);
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: var(--shadow);
    }
    .button-icon {
      height: 18px;
      width: 18px;
    }
  }

  @media (max-width: 1024px) {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;

    li {
      flex: 1 1 calc(50% - 8px);
    }

    a {
      width: 100%;
      justify-content: center;
      box-sizing: border-box;
    }
  }
}

#spacer {
  height: 88px;
  border-top: 1px solid var(--border);
  @media (max-width: 1024px) {
    height: 48px;
  }
}

.ticks {
  position: relative;
  width: 100%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -4.5px;
    border: 5px solid transparent;
  }

  &::before {
    left: 0;
    border-left-color: var(--border);
  }
  &::after {
    right: 0;
    border-right-color: var(--border);
  }
} */
